<div class="container" style="width:800px" id="table" >
    <table class="table"   >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Subjects</th>

        </tr>
      </thead>
      <tbody >
        <tr  *ngFor="let test of test_arr"  [(ngModel)]="select">
          <th scope="row">{{test.name}}</th>
          <td>{{test.email}}</td>
          <td>{{test.password}}</td>
          <td>{{test.subject}}</td>
          <td>{{test.id}}</td>

        
      
        </tr>
  
      </tbody>
      
    </table>
  </div>
  <div class="container" id="table"  >  
    <input type="text" name="" id="" placeholder="enter subject" [(ngModel)]="select" >
    <button (click)="update(test.id,$event.target)">Click</button>
</div>
